<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.name %></h1>
<p>
  Your password is changed by Admin.
  The new password is <%= password %>
</p>
<p>Regards</p>
</body>
</html>