<div class="modal-body">
  <h1>Password Reset</h1>
  <h4>Would you like to notify the user of the password change?</h4>
</div>
<div class="modal-footer">
  <%= link_to 'Yes', '', class: 'btn btn-primary', id: 'send_notification', data: {dismiss: "modal"} %>
  <%= link_to 'No', '#', class: "btn", data: {dismiss: "modal"} %>
</div>

<script>
  $('#send_notification').click(function(){
      <% send_reset_password_notification(@user, @new_password); %>
  });
</script>