<h2>Manage Games</h2>

<ul class="errors"></ul>
<div class="panel panel-default">
	<div class="panel-body">
		<%= form_for(:team, remote: true, html: {class: :team_form }) do |f| %>
		<div class="col-md-12">
			<div class="form-group">
				<%= f.label 'Choose Game', class: 'label-control' %>
				<div class="form-group">
					<%= f.select :game_id, options_for_select(Game.all.map{|s| [s.full_name, s.id]}), { prompt: true }, {class: 'form-control', :data => {  :remote => true, :format => 'js', :url => url_for(:controller => "manage_games", :action => "load_squads")}} %>
				</div>
			</div>
		</div>
		<div id="team"></div>
		<% end %>
	</div>
</div>
<div id="team_squds"></div>

<script type="text/javascript">
    
	$(document).ready(function(){
		$('.team_form')
		.bind("ajax:success", function(data, status, xhr) {
			document.getElementById("game_code_id").dispatchEvent(new Event('change'));
			setTimeout(explode, 500);
			function explode(){
				console.log('Teams loaded.');
  			document.getElementById("game_squad_1_id").dispatchEvent(new Event('change'));
  			document.getElementById("game_squad_2_id").dispatchEvent(new Event('change'));
  			setTimeout(explode1, 200);
			}
			function explode1(){
  			$(document).find('#load_squad_1_id').val($(document).find('#hidden1_squad_id_1').val());
  			$(document).find('#load_squad_2_id').val($(document).find('#hidden2_squad_id_2').val());

  		document.getElementById("load_squad_1_id").dispatchEvent(new Event('change'));
  		document.getElementById("load_squad_2_id").dispatchEvent(new Event('change'));
  		}
		});


	});

</script>