<option value="0">Please select</option>
<option value="1"<%= (@code.default_innings == 1 ? "selected='selected'" : "") %>>1</option>
<option value="2"<%= (@code.default_innings == 2 ? "selected='selected'" : "") %>>2</option>