/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2-bootstrap
 *= require jquery-ui/sortable
 *= require dataTables/jquery.dataTables

 *= require dataTables/extras/dataTables.tableTools
 *= require dataTables/extras/dataTables.fixedColumns

 *= require bootstrap-datepicker/css/bootstrap-datepicker3

 *= require select2

 *= require_self

 *= require_tree .
 */

html body
{
	background-color: #eee;
}

.errors
{
  list-style-type:none;	
  color:red; 
} 

#total_score1
{padding-left: 8px;}
#total_score2
{padding-left: 858px;}

#team_2_squad
{margin-right: 3px;}
.inline-ele{display:inline-block;}

/*custom css -simranjit@2Feb'16*/
.top-margin { margin-top: 10%;}
.form-control[readonly] {background: none repeat scroll 0 0 #FFFFFF!important;}
.horizontal-ruler { border: 1px solid #808080; margin-top: 1px;}
.scoring-panel{max-width: 100%;overflow-y: hidden;}
